services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: installments-backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/docker.env
    depends_on:
      - mongo
      - redis

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: installments-frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    env_file:
      - ./client/docker.env
    depends_on:
      - backend

volumes:
  mongo-data:
  redis-data:
